@import "../form_template/form";
@import "../variables";

.signup-box {
  display: flex;

  .signup-form {
    @include formControl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 250px;

    div {
      align-self: center;
      display: flex;
      text-align: right;
      height: 35px;
      width: 100%;

      label {
        width: 10%;
        margin-right: 20px;
        margin-top: 10px;
        font-weight: 700;
      }

      input {
        width: 40%;
        color: $textGrey;
        margin-right: 10px;
        height: 35px;
      }

      p {
        width: 50%;
        color: $textGrey;
        font-size: $text12;
        text-align: left;
        margin: 0;
        align-self: flex-end;
        line-height: 11px;
      }

    }
  }

}