@import "../variables";

.modal-window-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $textGrey;
  padding-top: 20px;
  margin-bottom: 0;

  .text-box {
    font-size: $text12;
    color: $textGrey;
    padding-right: 30px;
    width: 50%;

    span {
      text-decoration: underline;
    }
  }

  .btns-box {
    display: flex;
    justify-content: space-between;

    button:first-child{
      margin-right: 15px;
    }
  }

}