@import "../variables";

.modal-window {
  position: fixed;
  padding: 0 !important;
  margin: 0 !important;
  top: 0;
  background-color: $mainBgColor;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;

  .modal-window-body {
    display: flex;
    flex-direction: column;
    padding: 20px 50px 70px 50px;
    background-color: $whiteBgColor;
    width: 60%;
    height: 525px;
    position: relative;
    animation: animateModalWindow 1s ease;
    animation-fill-mode: forwards;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);


    h5 {
      font-family: Montserat, sans-serif;
      color: $textColor;

      span {
        font-weight: bold;
        color: $textActive;
      }
    }

    .nav-btns {
      .btn {
        background-color: #06B2BB9A;
        border-radius: 0;
        border: none;
        border-top: 1px solid $mainBgColor;
        color: $whiteText;
        font-family: Montserat, sans-serif;
        width: 50%;
        font-weight: $textBolder;
        box-shadow: none;
      }

      .active {
        background-color: $textActive;
      }
    }
  }
}

@keyframes animateModalWindow {
  to {
    transform: translateY(20%);
  }
}