@import "./src/sass/variables.scss";

.add-service {
  padding: 40px 60px;

  h3 {
    color: $textColor;
  }

  hr {
    margin-top: 15px;
    border: none;
    height: 1px;
    width: 100%;
    background-color: lightgray;
  }

  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    label {
      margin-top: 10px;
      font-family: Montserrat, sans-serif;
    }

    span {
      color: $textColor;
      font-size: 11px;
      padding-left: 3px;
    }

    textarea {
      border: 1px solid $textColor;
      resize: none;
      height: 300px;
      color: lightgray;
      padding: 30px 15px;
      font-family: Montserrat, sans-serif;

      &:focus {
        outline-color: #15939B;
      }
    }

    input {
      font-family: Montserrat, sans-serif;
      border: 1px solid $textColor;
      height: 30px;
      color: lightgray;
      padding-left: 5px;

      &:focus {
        outline-color: #15939B;
      }
    }

    div {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      align-items: center;

      .user-data-service {
        margin: 0;
        display: flex;
        align-items: center;
        color: $textColor;

        .user-avatar {
          margin: 0 10px 0 0;
          color: $textColor;
          border: 1px solid $textColor;
          border-radius: 50%;
          height: 35px;
          width: 35px;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            height: 20px;
            width: 20px;
            margin-right: 0;
          }
        }
      }
    }
  }
}