// landing page; background-color
$mainBgColor: #06B2BB;
$whiteBgColor: white;

//buttons background-color
$redBtn: #FA5456;
$btn: #06B2BB;
$btnWhite: snow;

$btnHover: #FFD219;

//text color
$whiteText: snow;
$textColor: #06B2BB;
$darkText: #393939;
$textGrey: #bababa;

$textActive: #15939B;

//text size
$text10: 10px;
$text12: 12px;
$text16: 16px;
$text32: 32px;
$text56: 56px;

//text style
$textBolder: 700;
$textLighter: lighter;


