@import "../variables.scss";

#found-full-info-container {
    width: 70%;
    margin: 30px auto;

    .ffi-header {
        display: inline-block;
        margin-bottom: 10px;

        .ffi-header-title {
            color: $textColor;
            font-weight: $textBolder;

            .ffi-header-title-nick {
                color: $darkText;
                font-weight: $textSuperBolder;
                font-size: $text22;
                margin-left: 10 px;
            }
        }
        span {
            margin-right: 10px;
        }
    }

    .ffi-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 25px;

        .ffi-body-left {
            img {
                width: 100%;
            }
        }

        .ffi-body-right {
            padding-left: 10px;
            .ffi-body-right-header {
                margin-bottom: 30px;

                h3 {
                    color: $textColor;
                    letter-spacing: 1px;
                }
                .ffi-body-date {
                    color: $textGrey;
                    margin-bottom: 10px;
                }
            }
            span {
                color: $textColor;
            }
        }
    }
    .ffi-description {
        margin-top: 20px;
        margin-bottom: 50px;
        span {
            color: $textColor;
        }
    }
    .ffi-footer {
        span {
            color: $textColor;
            margin-right: 10px;
        }
    }
}
