@import "./../variables.scss";
.found-item {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 15px;

    .found-nick {
        font-size: $text20;
        color: $darkText;
        font-weight: $textBolder;
    }

    .found-header {
        display: flex;
        align-items: center;
        span {
            margin-right: 10px;
            color: $textColor;
        }
        p {
            font-size: $text12;
        }
    }

    .found-body {
        width: 100%;
        img {
            width: 100%;
        }
    }

    .found-footer {
        font-size: $text12;
        .found-details-btn {
            border: none;
            background: none;
            color: $textColor;
            margin-right: 2px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
