@media screen and (max-width: 680px) {
  .navMainPage .navContainer {
    width: 100%;
    padding: 0 10px;
  }
}

@media screen and (max-width: 550px) {
  .nav-bar-drop-down {
    color: #1a9399;
    position: relative;

    .drop-down-visible {
      display: flex;
      align-items: center;
      height: 30px;
      justify-content: flex-start;
      padding-left: 12px;
      width: 155px;

      svg {
        margin-right: 18px;
      }
    }

    .drop-down-hidden {
      position: absolute;
      right: 0;
      border-top: 1px solid #1a9399;

      a {
        opacity: 0;
        display: block;
        width: 155px;
        transition: all 0.5s ease;

        &:first-child {
          animation: 0.5s ease dropDownMenu;
          animation-fill-mode: forwards;
        }

        &:last-child {
          animation: 0.5s 0.5s ease dropDownMenu;
          animation-fill-mode: forwards;
        }

        button {
          width: 100%;
          border-radius: 0;
          border: none;
          background-color: snow;
          color: #1a9399 !important;
        }
      }
    }
  }
}

@keyframes dropDownMenu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}