@import "./src/sass/variables";
@mixin input {
    input {
        border: none;
        border-bottom: 1px solid $textColor;
        font-size: $text12;
    }
    ::-webkit-input-placeholder {
        color: $textGrey;
    }
    input:focus {
        outline: none;
    }
}
@mixin textarea {
    textarea {
        border-color: $textColor;
        font-size: $text12;
    }
    textarea:focus {
        outline: none;
    }
}
@mixin select {
    select {
        border: none;
        cursor: pointer;
        outline: none;
    }
}
@mixin labelSpan {
    span {
        font-size: $text10;
        color: $textColor;
    }
}
@mixin formControl {
    @include input();
    @include textarea();
    @include select();
    @include labelSpan();
    color: $darkText;
}
