@import "./src/sass/variables";

.add-comment-container {
    padding-bottom: 20px;
}
.commentArea {
    border: 1px solid $textColor;
    resize: none;
    outline-color: $textColor;
    width: 100%;
}
.comment-footer {
    text-align: end;
    padding-top: 10px;
    button {
        border: none;
        background: none;
        color: $textColor;
        padding-left: 10px;
        font-size: $text10;
        &:hover {
            cursor: pointer;
        }
    }
}
