@import "./src/sass/variables";

.user-comment {
    padding-top: 12px;
    width: 100%;
    span {
        font-size: $text12;
        font-weight: $textBolder;
    }
    p {
        padding-bottom: 10px;
        font-family: Montserrat;
    }
}
