@import "./src/sass/variables";
.post {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;

    .post-header {
        display: flex;
        flex-direction: row;
        .post-header-img {
            width: 15%;

            img {
                border-radius: 50%;
                width: 60%;
            }
        }
        .post-header-author {
            margin-left: -20px;
            align-self: center;
            h3 {
                font-size: $text16;
                color: $textColor;
            }
            p {
                color: $textGrey;
                font-size: $text12;
            }
        }
    }
    .post-body {
        height: 224px;
        display: flex;
        img {
            width: 100%;
        }
    }
    .post-footer {
        position: relative;
        margin-top: 15px;
        border-bottom: 1px solid $textGrey;
        h4 {
            font-size: $text16;
        }
        .post-footer-more {
            color: $textColor;
            border: none;
            background: none;
            &:hover {
                cursor: pointer;
            }
        }
        .post-footer-like-box {
            display: flex;
            justify-content: flex-end;
            align-items: baseline;
            padding-bottom: 10px;
            p {
                padding-left: 10px;
            }
        }
    }
}
