@import "./src/sass/variables";
.fullPost {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
    font-family: Montserrat, sans-serif;

    .fullPost-header {
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        .fullPost-header-img {
            width: 10%;

            img {
                border-radius: 50%;
                width: 100%;
            }
        }
        .fullPost-header-author {
            align-self: center;
            h3 {
                font-size: $text16;
                color: $textColor;
            }
            p {
                color: $textGrey;
                font-size: $text12;
            }
        }
    }
    .fullPost-body {
        display: flex;
        img {
            width: 100%;
        }
    }
    .fullPost-footer {
        position: relative;
        margin-top: 15px;
        h4 {
            font-size: $text16;
            color: $darkText !important;
        }
        .fullPost-footer-more {
            color: $textColor;
            border: none;
            background: none;
            &:hover {
                cursor: pointer;
            }
        }
        .fullPost-footer-like-box {
            display: flex;
            justify-content: flex-end;
            align-items: baseline;
            padding-bottom: 10px;
            p {
                padding-left: 10px;
            }
        }
    }
    .comments {
        padding-bottom: 0px;
    }
    .comments-p {
        color: $textColor;
        font-size: $text16;
    }

    .commentArea {
        border: 1px solid $textColor;
        resize: none;
        justify-self: center;
        outline-color: $textColor;
    }
    .comment-footer {
        text-align: end;
        padding-top: 10px;
        button {
            border: none;
            background: none;
            color: $textColor;
            padding-left: 10px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
