@import "./src/sass/variables";
.post {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
    font-family: Montserrat, sans-serif;

    .post-header {
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        .post-header-img {
            width: 50px;
            height: 50px;
            img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }
        }
        .user-avatar {
            padding-right: 10px;
        }
        .post-header-author {
            align-self: center;
            padding-left: 10px;
            h3 {
                font-size: $text16;
                color: $textColor;
            }
            p {
                color: $textGrey;
                font-size: $text12;
            }
        }
    }
    .post-body {
        display: flex;
        width: auto;
        margin: 0 auto;
    }
    .post-footer {
        position: relative;
        margin-top: 15px;
        border-bottom: 1px solid $textGrey;
        h4 {
            font-size: $text16;
            color: $darkText !important;
        }
        .post-footer-more {
            color: $textColor;
            font-weight: $textBolder;
            border: none;
            background: none;
            &:hover {
                cursor: pointer;
            }
        }
        .post-footer-like-box {
            display: flex;
            justify-content: flex-end;
            align-items: baseline;
            padding-bottom: 10px;
            p {
                padding-left: 10px;
            }
        }
    }
}
