@import "./src/sass/variables";

.fullPost-header-button {
    align-self: end;
}
.fullPost {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding-top: 40px;
    font-family: Montserrat, sans-serif;
    position: relative;

    .fullPost-header {
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        justify-content: space-between;
        .full-Post-header-left {
            display: flex;
            flex-direction: row;
            .fullPost-header-img {
                width: 15%;

                img {
                    border-radius: 50%;
                    width: 100%;
                }
            }
            .fullPost-header-author {
                align-self: center;
                margin-left: 10px;
                h3 {
                    font-size: $text16;
                    color: $textColor;
                }
                p {
                    color: $textGrey;
                    font-size: $text12;
                }
            }
        }
    }
    .fullPost-body {
        display: flex;
        width: auto;
        margin: 0 auto;
        .fullPost-img {
            width: 100%;
        }
    }
    .fullPost-footer {
        position: relative;
        margin-top: 15px;
        h4 {
            font-size: $text16;
            color: $darkText !important;
            padding-bottom: 10px;
        }
        .fullPost-post-text {
            font-size: $text16;
            font-family: Montserrat, serif;
            color: $darkText;
        }
        .fullPost-footer-like-box {
            display: flex;
            justify-content: flex-end;
            align-items: baseline;
            padding-bottom: 10px;
            padding-top: 15px;
            p {
                padding-right: 10px;
            }
            svg {
                align-self: self-end;
            }
            button {
                color: $textColor;
                border: none;
                background: none;
                padding-left: 10px;
                font-size: $text10;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .comments {
        .comments-p {
            font-size: $text16;
            color: $textColor;
            font-weight: $textBolder;
        }
        h3 {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        li {
            list-style: none;
        }
    }
}
