@import "../variables.scss";

#lost-full-info-container {
    width: 70%;
    margin: 30px auto;

    .lfi-header {
        display: inline-block;
        margin-bottom: 10px;

        .lfi-header-title {
            color: $textColor;
            font-weight: $textBolder;

            .lfi-header-title-nick {
                color: $darkText;
                font-weight: $textSuperBolder;
                font-size: $text22;
                margin-left: 10 px;
            }
        }
        span {
            margin-right: 10px;
        }
    }

    .lfi-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 25px;

        .lfi-body-left {
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
                -23px 0 20px -23px rgba(0, 0, 0, 0.8),
                23px 0 20px -23px rgba(0, 0, 0, 0.8),
                0 0 40px rgba(0, 0, 0, 0.1) inset;
            img {
                width: 100%;
            }
        }

        .lfi-body-right {
            padding-left: 30px;
            .lfi-body-right-header {
                margin-bottom: 30px;

                h3 {
                    color: $textColor;
                    letter-spacing: 1px;
                }
                .lfi-body-date {
                    color: $textGrey;
                    margin-bottom: 10px;
                }
            }
            span {
                color: $textColor;
            }
        }
    }
    .lfi-description {
        margin-top: 20px;
        margin-bottom: 50px;
        span {
            color: $textColor;
        }
    }
    .lfi-footer {
        display: flex;
        justify-content: space-between;
        span {
            color: $textColor;
            margin-right: 10px;
        }
    }
}
