@import "../variables";

.user-profile-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;

  h4 {
    width: 75px;
  }
}

.user-avatar {
  border: 1px solid snow;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin menu-nav {
  color: $whiteText;
  margin: 5px 0;

  button {
    all: unset;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.1rem;

    &:hover {
      background: none !important;
      color: lightgray;
    }

    p {
      text-align: center;
      margin-left: 15px;
    }

    svg {
      all: unset;
      height: 15px;
      width: 15px;
    }
  }

  &.active {
    color: $btnBorder;
  }
}

.left-nav-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .left-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;

    a {
      @include menu-nav;
      height: 40px;
      line-height: 40px;
      display: flex;
      margin-right: 10px;

      button {
        padding-right: 10px;
        justify-content: flex-end;

        p {
          width: 100px;
          text-align: left;
        }
      }

      &.active {
        background-color: #fff;
        border-radius: 0 20px 20px 0;
      }
    }

  }

  .left-menu-services {
    width: 160px;
    margin-top: 50px;

    h3 {
      text-transform: uppercase;
      color: white;
      font-family: Montserrat, sans-serif;
      margin-left: 10px;
      font-weight: 200;
    }

    div {
      display: flex;
      flex-direction: column;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      margin: 5px 20px 0 10px;
      padding: 10px 0;

      a {
        @include menu-nav;
      }
    }
  }
}